{% extends 'base.html.twig' %}
{% block title %}
    {{ title }} ASPECTOS FAVORABLES Y DESFABORABLES
{% endblock %}
{% block body %}
    <style>
        .boton-debilidades {
            height: 48px;
            min-width: 48px;
            background: #005095;
            color: #fff;
            font-size: 1.2em;
            border: 0;
            border-radius: 0.2em;
            text-align: center;
            margin: 1em 1em 1.5em;
            cursor: pointer;
            padding: 0 1em;
        }
        .boton-debilidades:hover {
            transform: scale(1.1);
        }
        .boton-amenazas {
            height: 48px;
            min-width: 48px;
            background: #800080;
            color: #fff;
            font-size: 1.2em;
            border: 0;
            border-radius: 0.2em;
            text-align: center;
            margin: 1em 1em 1.5em;
            cursor: pointer;
            padding: 0 1em;
        }
        .boton-amenazas:hover {
            transform: scale(1.1);
        }
        .boton-fortalezas {
            height: 48px;
            min-width: 48px;
            background: #B50000;
            color: #fff;
            font-size: 1.2em;
            border: 0;
            border-radius: 0.2em;
            text-align: center;
            margin: 1em 1em 1.5em;
            cursor: pointer;
            padding: 0 1em;
        }
        .boton-fortalezas:hover {
            transform: scale(1.1);
        }
        .boton-oportunidades {
            height: 48px;
            min-width: 48px;
            background: #134D16;
            color: #fff;
            font-size: 1.2em;
            border: 0;
            border-radius: 0.2em;
            text-align: center;
            margin: 1em 1em 1.5em;
            cursor: pointer;
            padding: 0 1em;
        }
        .colorDebilidades {
            background-color: #005095;
            padding: 3px;
        }
        .colorDentroDebilidades {
            opacity: 0.8;
        }
        .colorAmenazas {
            background-color: #800080;
            padding: 3px;
        }
        .colorFortalezas {
            background-color: #B50000;
            padding: 3px;
        }
        .colorOportunidades {
            background-color: #134D16;
            padding: 3px;
        }
        .color {
            background-color: #CCC3D0;
            padding: 30px;
        }
        .boton-oportunidades:hover {
            transform: scale(1.1);
        }
        h4 {
            color: white;
        }
        .tabladafoDebilidades {
            background: #A1BED8;
        }
        .tabladafoAmenazas {
            background: #E2BFDC;
        }
        .tabladafoFortalezas {
            background: #E09E8E;
        }
        .tabladafoOportunidades {
            background: #D1E082;
        }
        .marge {
            margin: 10px;
            justify-content: right;
        }
    </style>
    <section class="bg-white text-black mt-3 mb-3">
        {# START CONTAINER #}
        <div class="container ">
            {# START ATRÁS #}
            <section class="row ">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <div class="btn-group float-right mt-2 mb-3" role="group">
                        <a class="btn btn-danger btn-md" href="">&laquo; Volver</a>
                    </div>
                </div>
            </section>
            {# END ATRÁS #}
            {# START QUADRES #}
            <div class="container color" style="text-align:center;">
                <form {% if q == "interna" %} action="{{ path('aspectes_qI') }}" {% else %} action="{{ path('aspectes_qE') }}" {% endif %} method="post">
                    <div class="row justify-content-center">
                        {# START COLUMNA CUESTIONES #}
                        <div class="col-sm-4">
                            <h3>Cuestiones</h3>
                            <div class="list">
                                <div class="item">
                                    <select name="questions">
                                        {% for q in questions %}
                                            <option value="{{ q.id }}">{{ q.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        {# END COLUMNA CUESTIONES #}
                        <div class="col-sm-8 ">
                            <label>{# POSAR PER A QUE LLEGEIXI L'OPCIÓ DEL DAFO PER EDITAR-LA #}</label>
                            <a class="btn btn-primary marge" href="">Editar</a>
                            {% if q == "interna" %}
                                <div class="row justify-content-center">
                                    {# START DEBILIDADES #}
                                    <div class="col-sm-6 pr-0 pl-0 tabladafoDebilidades">
                                        <h4 class="colorDebilidades">Debilidades</h4>
                                        <div class="list">
                                            <div class="item">
                                                <div class="row">
                                                    {# MODIFICAR EL FOR ============ #}
                                                    {# {% for qi in debilitats %}
                                                        <div class="titulo">
                                                            <p class="ml-5">{{ qi.getQuestioInterna().getNombre() }}
                                                        </div>
                                                        <div class="options"></div>
                                                    {% endfor %} #}
                                                </div>
                                                <input class="boton-debilidades" href="" type="button" value="+ Nueva debilidad"></input>
                                            </div>
                                        </div>
                                    </div>
                                    {# END DEBILIDADES #}
                                    {# START FORTALEZAS #}
                                    <div class="col-sm-6 pr-0 pl-0 tabladafoFortalezas">
                                        <h4 class="colorFortalezas">Fortalezas</h4>
                                        <div class="list">
                                            <div class="item">
                                                <div class="row">
                                                    {# MODIFICAR EL FOR ============ #}
                                                    {# {% for qi in debilitats %}
                                                        <div class="titulo">
                                                            <p class="ml-5">{{ qi.getQuestioInterna().getNombre() }}
                                                        </div>
                                                        <div class="options"></div>
                                                    {% endfor %} #}
                                                </div>
                                                <input class="boton-fortalezas" href="" type="button" value="+ Nueva fortaleza"></input>
                                            </div>
                                        </div>
                                    </div>
                                    {# END FORTALEZAS #}
                                </div>
                            {% else %}
                                <div class="row justify-content-center">
                                    {# START AMENAZAS #}
                                    <div class="col-sm-6 pr-0 pl-0 tabladafoAmenazas">
                                        <h4 class="colorAmenazas">Amenazas</h4>
                                        <div class="list">
                                            <div class="item">
                                                <div class="row">
                                                    {# MODIFICAR EL FOR ============ #}
                                                    {# {% for qi in debilitats %}
                                                        <div class="titulo">
                                                            <p class="ml-5">{{ qi.getQuestioInterna().getNombre() }}
                                                        </div>
                                                        <div class="options"></div>
                                                    {% endfor %} #}
                                                </div>
                                                <input class="boton-amenazas" href="" type="button" value="+  Nueva amenaza"></input>
                                            </div>
                                        </div>
                                    </div>
                                    {# END AMENAZAS #}
                                    {# START OPORTUNIDADES #}
                                    <div class="col-sm-6 pr-0 pl-0 tabladafoOportunidades">
                                        <h4 class="colorOportunidades">Oportunidades</h4>
                                        <div class="list">
                                            <div class="item">
                                                <div class="row">
                                                    {# MODIFICAR EL FOR ============ #}
                                                    {# {% for qi in debilitats %}
                                                        <div class="titulo">
                                                            <p class="ml-5">{{ qi.getQuestioInterna().getNombre() }}
                                                        </div>
                                                        <div class="options"></div>
                                                    {% endfor %} #}
                                                </div>
                                                <input class="boton-oportunidades" href="" type="button" value="+ Nueva oportunidad"></input>
                                            </div>
                                        </div>
                                    </div>
                                    {# END OPORTUNIDADES #}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                <button class="btn-success btn  mt-2 mb-3" type="submit">Enviar</button>
                </form>
            </div>
            {# END QUADRES #}
        </div>
        {# END CONTAINER #}
    </section>
{% endblock %}
