{% extends 'base.html.twig' %}
{% block title %}Inicio
{% endblock %}
{% block body %}
    <section class="bg-white text-black text-center">
        <section class="container ">
            <section class="row text-center">
                <section class="col-md-12 mt-5">
                    {% if app.user.role.nombre == 'ROLE_ADMIN' %}
                        <a class="btn btn-primary btn-lg" href="{{ path('corporaciones_list') }}">Gestión de Corporaciones</a>
                        <a class="btn btn-secondary btn-lg" href="{{ path('empresas_list') }}">Gestión de Empresas</a>
                        <a class="btn btn-success btn-lg" href="{{ path('user_list') }}">Gestión de Usuarios</a>
                    {% else %}
                        {% if app.user.empresa != null %}
                            {# <a class="btn btn-primary btn-lg" href="{{ path('gestion_contexto', {id : app.user.empresa.id}) }}">Gestionar Contexto de la organización Empresa</a> #}
                            <a class="btn btn-secondary btn-lg" href="">Gestionar Personal</a>
                        {% elseif app.user.corporacion != null %}
                            <a class="btn btn-primary btn-lg" href="{{ path('gestion_contexto', {id : app.user.corporacion.id}) }}">Gestionar Contexto de la organización Corporación</a>
                            <a class="btn btn-secondary btn-lg" href="">Gestionar Personal</a>
                        {% endif %}
                    {% endif %}
                    <!-- Arreglar el inicio empresas/new para que se pueda entrar sin tener id-->
                </section>
            </section>
        </section>
    </section>
{% endblock %}
