{% extends 'base.html.twig' %}
{% block title %}Inicio
{% endblock %}
{% block body %}
    <section class="bg-white text-black text-center">
        <section class="container ">
            <section class="row text-center">
                <section class="col-md-12 mt-5">
                    {% if app.user.role.nombre == 'ROLE_ADMIN' %}
                        {% if app.user.corporacion != null  %}
                            <a class="btn btn-primary btn-lg" href="{{ path('corporacion',{id : app.user.corporacion.id}) }}">Gestión de Corporación</a>
                            <a class="btn btn-success btn-lg" href="{{ path('users_corp',{id : app.user.corporacion.id}) }}">Gestión de Usuarios</a>
                        {% elseif app.user.empresa != null %}
                            <a class="btn btn-secondary btn-lg" href="{{ path('empresa',{id : app.user.empresa.id}) }}">Gestión de Empresa</a>
                            <a class="btn btn-success btn-lg" href="{{ path('users_emp',{id : app.user.empresa.id}) }}">Gestión de Usuarios</a>
                         {% elseif app.user.centro != null %}
                            <a class="btn btn-secondary btn-lg" href="{{ path('centro',{id : app.user.centro.id}) }}">Gestión de Centro</a>
                            <a class="btn btn-success btn-lg" href="{{ path('users_centro',{id : app.user.centro.id}) }}">Gestión de Usuarios</a>
                        {% else %}
                            <a class="btn btn-primary btn-lg" href="{{ path('corporaciones_list') }}">Gestión de Corporaciones</a>
                            <a class="btn btn-secondary btn-lg" href="{{ path('empresas_list') }}">Gestión de Empresas</a>
                            <a class="btn btn-warning btn-lg" href="{{ path('centros_list') }}">Gestión de Centros</a>
                            <a class="btn btn-success btn-lg" href="{{ path('user_list') }}">Gestión de Usuarios</a>
                        {% endif %}
                    {% else %}
                        {% if app.user.empresa != null %}
                            {# <a class="btn btn-primary btn-lg" href="{{ path('gestion_contexto', {id : app.user.empresa.id}) }}">Gestionar Contexto de la organización Empresa</a> #}
                            <h1>{{app.user.empresa.nombre}}</h1>
                            <a class="btn btn-primary btn-lg" href="{{ path('gestion_contextoEmpresa', {id : app.user.empresa.id}) }}">Gestionar Contexto de la
                                                                                    organización Empresa</a>
                            <a class="btn btn-secondary btn-lg disabled" href="">Gestionar Personal</a>
                        {% elseif app.user.corporacion != null %}
                            <h1>{{app.user.corporacion.nombre}}</h1>
                            <a class="btn btn-primary btn-lg" href="{{ path('gestion_contextoCorporacion', {id : app.user.corporacion.id}) }}">Gestionar Contexto de la organización Corporación</a>
                            <a class="btn btn-secondary btn-lg disabled" href="">Gestionar Personal</a>
                            
                            {% elseif app.user.centro != null %}
                             <h1>{{app.user.centro.nombre}}</h1>
                            <a class="btn btn-primary btn-lg" href="{{ path('gestion_contextoCentros', {id : app.user.centro.id}) }}">Gestionar Contexto de   la organización Centro</a>
                                                                                  
                            <a class="btn btn-secondary btn-lg disabled" href="">Gestionar Personal</a>
                        {% endif %}
                    {% endif %}
                    <!-- Arreglar el inicio empresas/new para que se pueda entrar sin tener id-->
                </section>
            </section>
        </section>
    </section>
{% endblock %}
