{% extends 'base.html.twig' %}
{% block title %}Listado de Corporaciones
{% endblock %}
{% block body %}
    <section class="bg-white text-black mb-0">
        <section class="container-fluid">
        <h3 style="margin: 10px; text-align: center; text-decoration: underline;">Listado de Corporaciones</h3>
            <section class="row">
                <section class="col-md-12">
                    <table class="table">
                       {% if app.user.role.nombre == 'ROLE_ADMIN' %}
                        <form class="form-inline w-100 my-2 my-md-0 pr-3 form-just" method="post" action="{{ path('corporacion_busqueda') }}">
                            <div class="form-inline mr-2">
                                <input class="form-control mb-2 mr-sm-2 mb-sm-0" id="form_term" name="term" placeholder="Buscar Corporación" required="required" type="text">
                                <button type="submit" class="btn btn-light icon-search-1 text-black"></button>
                            </div>
                        </form>
                        {% endif %}

                        {% if searchTerm is defined %}
                    <div class="row">
                        <div class="col-md-8">
                            <p class=" text-black ml-3">Resultados de búsqueda por: 
                                <strong class="text-danger">
                                    {{ searchTerm }}</strong>
                            </p>
                        </div>
                        <div class="col-md-4 mb-4">
                            <a class="btn btn-default btn-sm float-right" href="{{ path('corporaciones_list') }}">x Borrar búsqueda</a>
                        </div>
                    </div>
                {% endif %}
                    <a class="btn btn-primary btn-lg" href="{{ path('corporaciones_new') }}" style="margin: 10px;">Crear Corporación</a>
                        {% if app.user.role.nombre == 'ROLE_ADMIN' %}
                            <a class="btn btn-danger btn-md ml-3" href="{{ path('user_registration') }}">Registrar usuario Corporación</a>
                        {% endif %}
                        <a class="btn btn-danger btn-md" href="{{ path('inicio') }}" style="margin: 10px;">&laquo; Volver</a>
                    <table class="table table-hover table-responsive-sm">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Fecha de Alta</th>
                                <th scope="col">Fecha de Baja</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Empresa</th>
                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for corporacion in corporaciones %}
                                <tr>
                                    <th scope="row">{{corporacion.id}}</th>
                                    <td><a href="{{ path('corporacion', {'id': corporacion.id}) }}"> {{ corporacion.nombre }}</a></td>
                                    <td>{{ corporacion.fechaAlta|date('d-m-Y')}}</td>
                                    <td>{{ corporacion.fechaBaja|date('d-m-Y') }}</td>
                                    <td>{{ corporacion.descripcion }}</td>
                                    <td>
                                        <a class="btn btn-danger btn-md" href="{{ path('crearEmpresaCorp', {'id': corporacion.id}) }}">Añadir empresa</a>
                                    </td>
                                    <td>
                                        <a </span href="{{ path('corporacion_edit', {'id': corporacion.id}) }}" <span class="icon-pencil-alt text-black">Editar</a>
                                        <a </span href="{{ path('corporacion_delete', {'id': corporacion.id}) }}" <span class="icon-trash-empty text-black">Eliminar</a>
                                    </td>
                                </tr>
                                    
                            {% endfor %}
                        </tbody>
                    </table>
                    <div >
                        {% if mensaje == "Corporación eliminada correctamente." %}
                            <p class=" text-success pl-3">{{mensaje}}</p>
                        {% else %}
                            <p class=" text-danger pl-3">{{mensaje}}</p>
                    </div>
                    {% endif %}
                </section>
            </section>
        </section>
    </section>
{% endblock %}