{% extends 'base.html.twig' %}
{% block title %}  {{ corporacion.nombre }}
{% endblock %}
{% block body %}
    <section class="bg-white text-black mb-0">
        <section class="container-fluid">
            <section class="row">
                <section class="col-md-12">
               <h1 style="margin: 10px; text-align: center; text-decoration: underline;"> {{ corporacion.nombre }}</h1>
               <h3 style="text-decoration: underline;">Informaci칩n </h3>
                
                <section>
                Nombre: {{ corporacion.nombre }}
                </section>
                <section>
                Fecha de alta: {{ corporacion.fechaAlta|date('d-m-Y') }}
                </section>
                <section>
                Descripci칩n: {{ corporacion.descripcion }}
                {# Fecha de Alta: {{ empresa.fechaAlta}}
                Fecha de Baja: {{ empresa.fechaBaja }}
                Descripcion: {{ empresa.descripcion }} #}
                </section>
                <a class="btn btn-primary btn-lg" href="{{ path('crearEmpresaCorp', {'id': corporacion.id}) }}" style="margin: 10px;">A침adir empresa</a>
                <a class="btn btn-danger btn-md" href="{{ path('corporaciones_list') }}">&laquo; Torna</a>
                 <h4 style="text-decoration: underline;">Empresas</h4>
                
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre de la Empresa</th>
                                <th scope="col">Fecha de Alta</th>
                                <th scope="col">Fecha de Baja</th>
                                <th scope="col">Descripci칩n</th>
                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for empresa in empresas %}
                                <tr>
                                    <th scope="row">{{empresa.id}}</th>
                                    <td>{{ empresa.nombre }}</td>
                                    <td>{{ empresa.fechaAlta|date('d-m-Y')}}</td>
                                    <td>{{ empresa.fechaBaja|date('d-m-Y') }}</td>
                                    <td>{{ empresa.descripcion }}</td>
                                    <td>
                                        <a </span href="{{ path('empresa_edit', {'id': empresa.id}) }}" <span class="icon-pencil-alt text-black">Edit</a>
                                        <a </span href="{{ path('empresa_delete', {'id': empresa.id}) }}" <span class="icon-trash-empty text-black">Eliminar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
            </section>
        </section>
    </section>
{% endblock %}