{% extends 'base.html.twig' %}

{% block title %}Hello QuestionsExternesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <section class="bg-white text-black mt-3 mb-3">
        <div class="container ">
            <section class="row ">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <div class="btn-group float-right mt-2 mb-3" role="group">
                        <a class="btn btn-danger btn-md">&laquo; Torna</a>
                    </div>
                </div>
            </section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-8">
                        <div class="card d-flex ">
                            <div class="card-header bg-danger text-white">
                                 <h4>{{ title }}</h4>
                            </div>
                            <div class="card-body">
                                <div class="col-12 ">
                                    <form action="{{path('qe_edit_empresa', { 'id' : id, 'idQe' : idQe })}}" method="POST">
                                        <label>Nombre</label><input name="nombre" type="text" value="{{ qe.nombre }}" />
                                        <div class="form-group">
                                            <label>Fecha Alta</label>
                                            <input type="date" name="dateA" value="{{qe.fechaAlta|date('Y-m-d')}}" />
                                        </div>
                                        <div class="form-group">
                                            <label>Fecha Baja </label>
                                            <input type="date" name="dateB" value="{{ qe.fechaBaja|date('Y-m-d')  }}"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Tipus</label>
                                            <select id="tipusQE" name="tipus" id="tipusQE">
                                                <option value="null">-- Elije tipus QE --</option>
                                                {% for tipo in tiposQE %}
                                                    {% if ( tipo.id == qe.subtipus.tipusQE.id ) %}
                                                        <option value="{{tipo.id}}" selected>{{tipo.nombre}}</option>
                                                    {% else %}
                                                        <option value="{{tipo.id}}">{{tipo.nombre}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Subtipus</label>
                                            <select id="subtipusQE" name="subtipus">
                                                <option value="null">-- Elije tipus QE --</option>
                                                {% for subptipu in subtipus %}

                                                    {% if ( subptipu.id == qe.subtipus.id ) %}
                                                        <option value="{{subptipu.id}}" selected>{{subptipu.descripcion}}</option>
                                                    {% else %}
                                                        <option value="{{subptipu.id}}">{{subptipu.descripcion}}</option>
                                                    {% endif %}
                                                    
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <input type="submit" value="Enviar">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        window.onload = function () {
            console.log("Hola");
            $('#tipusQE').change(cargaSubcat);
        } 
        
        function cargaSubcat() {
            
            var form = $(this).closest('form');
            form.attr('',)

            var data = {};
            
            data['idtipusQE'] = $('#tipusQE option:selected').val();
           
            console.log(form.attr('action'));
            if($('#tipusQE option:selected').val()!="null"){
                console.log("cargaSubcat");
    
                $.ajax({
                    url : "{{ path('getSubTipusQE', { 'id' : id }) }}",
                    type : form.attr('method'),
                    data : data,
                    success : function(html){
                        console.log(html);
                        $('#subtipusQE').replaceWith(
                            $(html).find('#subtipusQE')
                        );

                        $("#test").html($(html).find('#title'));
                    }
                });
            }

        } 
    </script>
</div>
{% endblock %}
