{% extends 'base.html.twig' %}
{% block title %}Listado de Empresas
{% endblock %}
{% block body %}
    <section class="bg-white text-black mb-0">
        <section class="container-fluid">
        <h3 style="margin: 10px; text-align: center; text-decoration: underline;">Listado de Empresas</h3>
            <section class="row">
                <section class="col-md-12">
                    <table class="table">
                    <a class="btn btn-primary btn-lg" href="{{ path('crearEmpresa') }}" style="margin: 10px;">Crear Empresa</a>
                    
                     {% if app.user.role.nombre == 'ROLE_ADMIN' %}
                        <a class="btn btn-danger btn-md ml-3" href="{{ path('user_empresa') }}">Registrar usuario Empresa</a>
                    {% endif %}
                    <a class="btn btn-danger btn-md" href="{{ path('inicio') }}" style="margin: 10px;">&laquo; Volver</a>
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Fecha de Alta</th>
                                <th scope="col">Fecha de Baja</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Centro de Trabajo</th>
                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if app.user.role.nombre == 'ROLE_ADMIN' %}
                                
                            
                            {% for empresa in empresas %}                   
                                <tr>
                                    <th scope="row">{{empresa.id}}</th>
                                    <td><a href="{{ path('empresa', {'id': empresa.id}) }}"> {{ empresa.nombre }}</a></td>
                                    
                                    <td>{{ empresa.getFechaAlta()|date('d-m-Y')}}</td>
                                    <td>{{ empresa.fechaBaja|date('d-m-Y') }}</td>
                                    <td>{{ empresa.descripcion }}</td>
                                    <td>
                                        <a class="btn btn-danger btn-md" href="{{ path('centros_new', {'id': empresa.id}) }}">Añadir centro</a>
                                    </td>
                                    <td>
                                        <a </span href="{{ path('empresa_edit', {'id': empresa.id}) }}" <span class="icon-pencil-alt text-black">Editar</a>
                                        <a </span href="{{ path('empresa_delete', {'id': empresa.id}) }}" <span class="icon-trash-empty text-black">Eliminar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% else %}
                                <tr>
                                    <th scope="row">{{empresa.id}}</th>
                                    <td><a href="{{ path('empresa', {'id': empresa.id}) }}"> {{ empresa.nombre }}</a></td>
                                    
                                    <td>{{ empresa.getFechaAlta()|date('d-m-Y')}}</td>
                                    <td>{{ empresa.fechaBaja|date('d-m-Y') }}</td>
                                    <td>{{ empresa.descripcion }}</td>
                                    <td>
                                        <a class="btn btn-danger btn-md" href="{{ path('centros_new', {'id': empresa.id}) }}">Añadir centro</a>
                                    </td>
                                    <td>
                                        <a </span href="{{ path('empresa_edit', {'id': empresa.id}) }}" <span class="icon-pencil-alt text-black">Edit</a>
                                        <a </span href="{{ path('empresa_delete', {'id': empresa.id}) }}" <span class="icon-trash-empty text-black">Eliminar</a>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    <span class=" text-black">{{ mensaje }}</span>
                </section>
            </section>
        </section>
    </section>
{% endblock %}