{% extends 'base.html.twig' %}
{% block title %}Listado de Empresas
{% endblock %}
{% block body %}
    <section class="bg-white text-black mb-0">
        <section class="container-fluid">
        <h3 style="margin: 10px; text-align: center; text-decoration: underline;">Listado de Empresas</h3>
            <section class="row">
                <section class="col-md-12">
                    <table class="table table-hover table-responsive-sm">
                      {% if app.user.role.nombre == 'ROLE_ADMIN' %}
 <form class="form-inline w-100 my-2 my-md-0 pr-3 form-just" method="post" action="{{ path('peliculas_busqueda') }}">
            <div class="form-inline mr-2">
                <input class="form-control mb-2 mr-sm-2 mb-sm-0" id="form_term" name="term" placeholder="Buscar Empresa" required="required" type="text">
                                <button type="submit" class="btn btn-light icon-search-1 text-black"></button></div>
            </form>
     {% endif %}

  {% if searchTerm is defined %}
                    <div class="row">
                        <div class="col-md-8">
                            <p class=" text-black ml-3">Resultados de búsqueda por:
                                <strong class="text-danger">
                                    {{ searchTerm }}</strong>
                            </p>
                        </div>
                        <div class="col-md-4 mb-4">
                            <a class="btn btn-default btn-sm float-right" href="{{ path('empresas_list') }}">x Borrar búsqueda</a>
                        </div>
                    </div>
                {% endif %}
                                    <a class="btn btn-primary btn-lg" href="{{ path('crearEmpresa') }}" style="margin: 10px;">Crear Empresa</a>

                     {% if app.user.role.nombre == 'ROLE_ADMIN' %}
                        <a class="btn btn-danger btn-md ml-3" href="{{ path('user_empresa') }}">Registrar usuario Empresa</a>
                    {% endif %}
                    <a class="btn btn-danger btn-md" href="{{ path('inicio') }}" style="margin: 10px;">&laquo; Volver</a>
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Fecha de Alta</th>
                                <th scope="col">Fecha de Baja</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Centro de Trabajo</th>
                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if app.user.role.nombre == 'ROLE_ADMIN' %}
                                
                            
                            {% for empresa in empresas %}                   
                                <tr>
                                    <th scope="row">{{empresa.id}}</th>
                                    <td><a href="{{ path('empresa', {'id': empresa.id}) }}"> {{ empresa.nombre }}</a></td>
                                    
                                    <td>{{ empresa.getFechaAlta()|date('d-m-Y')}}</td>
                                    <td>{{ empresa.fechaBaja|date('d-m-Y') }}</td>
                                    <td>{{ empresa.descripcion }}</td>
                                    <td>
                                        <a class="btn btn-danger btn-md" href="{{ path('centros_new', {'id': empresa.id}) }}">Añadir centro</a>
                                    </td>
                                    <td>
                                        <a </span href="{{ path('empresa_edit', {'id': empresa.id}) }}" <span class="icon-pencil-alt text-black">Editar</a>
                                        <a </span href="{{ path('empresa_delete', {'id': empresa.id}) }}" <span class="icon-trash-empty text-black">Eliminar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% else %}
                                <tr>
                                    <th scope="row">{{empresa.id}}</th>
                                    <td><a href="{{ path('empresa', {'id': empresa.id}) }}"> {{ empresa.nombre }}</a></td>
                                    
                                    <td>{{ empresa.getFechaAlta()|date('d-m-Y')}}</td>
                                    <td>{{ empresa.fechaBaja|date('d-m-Y') }}</td>
                                    <td>{{ empresa.descripcion }}</td>
                                    <td>
                                        <a class="btn btn-danger btn-md" href="{{ path('centros_new', {'id': empresa.id}) }}">Añadir centro</a>
                                    </td>
                                    <td>
                                        <a </span href="{{ path('empresa_edit', {'id': empresa.id}) }}" <span class="icon-pencil-alt text-black">Edit</a>
                                        <a </span href="{{ path('empresa_delete', {'id': empresa.id}) }}" <span class="icon-trash-empty text-black">Eliminar</a>
                                    </td>
                                </tr>
                            {% endif %}
                            
                        </tbody>
                    </table>
                    </div>
                        {% if mensaje == "Empresa eliminada correctamente." %}
                            <p class=" text-success pl-3">{{mensaje}}</p>
                        {% else %}
                            <p class=" text-danger pl-3">{{mensaje}}</p>
                    </div>
                    </div>
                        {% endif %}

                    {# <span class=" text-black">{{mensaje}}</span> #}
                </section>
            </section>
        </section>
    </section>
{% endblock %}