{% extends 'base.html.twig' %}
{% block title %}  {{ empresa.nombre }}
{% endblock %}
{% block body %}
    <section class="bg-white text-black mb-0">
        <section class="container-fluid">
            <section class="row">
                <section class="col-md-12">
               <h1 style="margin: 10px; text-align: center; text-decoration: underline;"> {{ empresa.nombre }}</h1>
               <h3 style="text-decoration: underline;">Informaci칩n </h3>
                <section>
                Nombre: {{ empresa.nombre }}
                </section>
                <section>
                Fecha de alta: {{ empresa.fechaAlta|date('d-m-Y') }}
                </section>
                <section>
                Descripci칩n: {{ empresa.descripcion }}
                {# Fecha de Alta: {{ empresa.fechaAlta}}
                Fecha de Baja: {{ empresa.fechaBaja }}
                Descripcion: {{ empresa.descripcion }} #}
                </section>
                <a class="btn btn-primary btn-lg" href="{{ path('centros_new', {'id': empresa.id}) }}" style="margin: 10px;">A침adir centro</a>
                <a class="btn btn-danger btn-md" href="{{ path('inicio') }}">&laquo; Volver</a>
                 <h4 style="text-decoration: underline;">Centros</h4>
                
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre del Centro</th>
                                <th scope="col">Fecha de Alta</th>
                                <th scope="col">Fecha de Baja</th>
                                <th scope="col">Descripci칩n</th>
                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for centro in centros %}
                                <tr>
                                    <th scope="row">{{centro.id}}</th>
                                    <td><a href="{{ path('centro', {'id': centro.id}) }}"> {{ centro.nombre }}</a></td>                                  
                                    <td>{{ centro.fechaAlta|date('d-m-Y')}}</td>
                                    <td>{{ centro.fechaBaja|date('d-m-Y') }}</td>
                                    <td>{{ centro.descripcion }}</td>
                                    <td>
                                        <a </span href="{{ path('centro_edit', {'id': centro.id}) }}" <span class="icon-pencil-alt text-black">Editar</a>
                                        <a </span href="{{ path('centro_delete', {'id': centro.id}) }}" <span class="icon-trash-empty text-black">Eliminar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
            </section>
        </section>
    </section>
{% endblock %}