{% extends 'base.html.twig' %}
{% block title %}Listado de Centros
{% endblock %}
{% block body %}
    <section class="bg-white text-black mb-0">
        <section class="container-fluid">
        <h3 style="margin: 10px; text-align: center; text-decoration: underline;">Listado de Centros</h3>
            <section class="row">
                <section class="col-md-12">
                    <table class="table table-responsive-sm table-hover">
                       {% if app.user.role.nombre == 'ROLE_ADMIN' %}
 <form class="form-inline w-100 my-2 my-md-0 pr-3 form-just" method="post" action="{{ path('centro_busqueda') }}">
            <div class="form-inline mr-2 d-flex" style="flex-wrap: nowrap;">
                <input class="form-control" id="form_term" name="term" placeholder="Buscar Centro" required="required" type="text">
                <button type="submit" class="btn btn-light icon-search-1 text-black"></button></div>
            </form>
     {% endif %}

         {% if searchTerm is defined %}
                    <div class="row">
                        <div class="col-md-8">
                            <p class=" text-black ml-3">Resultados de búsqueda por:
                                <strong class="text-danger">
                                    {{ searchTerm }}</strong>
                            </p>
                        </div>
                        <div class="col-md-4 mb-4">
                            <a class="btn btn-default btn-sm float-right" href="{{ path('centros_list') }}">x Borrar búsqueda</a>
                        </div>
                    </div>
                {% endif %}
                    {% if app.user.role.nombre == 'ROLE_ADMIN' %}
                        <a class="btn btn-danger btn-md ml-3" href="{{ path('user_centro') }}">Registrar usuario Centro</a>
                    {% endif %}
                    <a class="btn btn-danger btn-md" href="{{ path('inicio') }}" style="margin: 10px;">&laquo; Volver</a>
                    {#<a class="btn btn-primary btn-lg" href="{{ path('corporaciones_new') }}" style="margin: 10px;">Crear Centro</a>#}
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Fecha de Alta</th>
                                <th scope="col">Fecha de Baja</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for centro in centros %}
                                <tr>
                                    <th scope="row">{{centro.id}}</th>
                                    <td>{{ centro.nombre }}</td>
                                    <td>{{ centro.fechaAlta|date('d-m-Y')}}</td>
                                    <td>{{ centro.fechaBaja|date('d-m-Y') }}</td>
                                    <td>{{ centro.descripcion }}</td>
                                  {#   <td>
                  <a class="btn btn-danger btn-md" href="{{ path('centros_new', {'id': centros.id}) }}">Añadir centro</a>
                                    </td> #}
                                    <td>
                                        <a </span href="{{ path('centro_edit', {'id': centro.id}) }}" <span class="icon-pencil-alt text-black">Editar</a>
                                        <a </span href="{{ path('centro_delete', {'id': centro.id}) }}" <span class="icon-trash-empty text-black">Eliminar</a>

                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div >
                        {% if mensaje == "Centro eliminado correctamente." %}
                            <p class=" text-success pl-3">{{mensaje}}</p>
                        {% else %}
                            <p class=" text-danger pl-3">{{mensaje}}</p>
                    </div>
                    {% endif %}
                </section>
            </section>
        </section>
    </section>
{% endblock %}