{% extends 'base.html.twig' %}
{% block title %}Listado de usuarios
{% endblock %}
{% block body %}
    <section class="bg-white text-black mb-0">
        <section class="container-fluid">
            <section class="row">
                <section class="col-md-12">
                {#<a class="btn btn-primary btn-lg" href="{{ path('crearEmpresa') }}" style="margin: 10px;">Crear Usuario</a>#}
                <a class="btn btn-danger btn-md" href="{{ path('inicio') }}" style="margin: 10px;">&laquo; Volver</a>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nombre Empresa</th>
                                <th scope="col">Nombre Corporación</th>
                                <th scope="col">Nombre Centro</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">role</th>
                                <th scope="col">email</th>
                                <th scope="col">password</th>
                                <th scope="col">isActive</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in user %}
                                <tr>
                                    <th scope="row">{{user.id}}</th>
                                {% if user.empresa != null %}
                                    <td>{{ user.empresa.nombre}}</td>
                                {% else %}
                                {% endif %}
                                {% if user.corporacion != null %}
                                    <td>{{ user.corporacion.nombre}}</td>
                                {% else %}
                                {# {% endif %}
                                {% if user.centro != null %}
                                    <td>{{ user.centro.nombre}}</td>
                                {% else %} #}
                                    <td></td>
                                {% endif %}
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.role.nombre }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.password }}</td>
                                    <td>{{ user.isActive }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
            </section>
        </section>
    </section>
{% endblock %}